body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: repeating-linear-gradient(
    45deg,
    #f2f2f2,
    #f2f2f2 10px,
    #fff 10px,
    #fff 20px
    );
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.gumi img{
    position: fixed;
    right: 0;
    bottom: 0;
}
.wrapper {
    width: 60%;
    margin: 0 auto;
}

.logo{
    width: 25%;
    background-color: #fff;
    margin-bottom:-36px;
    padding:0;
    border-left: 2px #000 solid;
    border-top: 2px #000 solid;
    border-right: 2px #000 solid;
    box-shadow: 4px 0px 5px gray;
    margin-left:2%;
}

.logo img {
    padding: 2% 2% 2% 2%;
    width: 96%;
}

.banner img{
    margin-left: -2px;
    border: 2px #000 solid;
    box-shadow: 4px 4px 5px gray;
    height: 350px;
    width:100%;
    z-index: 5;
    margin-bottom: 15px;
}
    /* To keep this project compact, we show a base64-encoded image, not a real file. */
    /* Excellent base64-encoders and more information here: http://base64image.org and http://www.base64-image.de */
    
.container {
    max-width: 100%;
    border: 1px solid #000;
    padding: 20px;
    margin: 0 0 0 0;
    background-color: #fff;
    z-index: 10;
}
.container a {
    color: #454545;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.container h1{
    text-align: center;
    text-transform: uppercase;
}
#icons{
    text-align: center;
    padding-top: 30px; 
}
#icons img{
    width:100px;
    margin: 0 10% 0 10%;
}
#about-us{
    text-align: center;
}
#about-us h1{
    padding-bottom: 20px;
}
.team{
   display: inline-block;
   margin: 0 10%;
}

/* navigation dropdown menu */
.navigation, .navigation-submenu {
    display: inline-block;
    list-style: none;
    /* btw this is necessary to remove most browsers's "hidden" default <ul> intent */
    margin: 0 1% 0 0;
    padding: 0;
    float: right;
}
/* TODO */
.navigation {
}
.navigation.right {
    margin-top:-3px;
    position: fixed;
    top: 0px;
    right: 4%;
    z-index:10;
}
.navigation-log {
    margin-top:-3px;
    position: fixed;
    top: 0px;
    right: 10%;
    z-index:10;
}
.navigation-reg {
    margin-top:-3px;
    position: fixed;
    top: 0px;
    right: 5%;
    z-index:10;
}

#button-acc{
    padding: 10px 44px 10px 44px;
}
.navigation li {
    float: left;
    margin-right: 5px;
    margin-bottom: 0;
}
.navigation .navigation-submenu {
    display: none;
}
.navigation li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px #000 solid;
    margin-bottom: -2px;
    background: #000;
    color: #fff;
    float:none;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation li:hover .navigation-submenu {
    display: block;
    position: absolute;
    float: left;
}
.navigation li:hover li,
.navigation li:hover a {
    float: none;
}
.navigation li a:hover,
.navigation li:hover li a:hover {
    background: #fff;
    color: #454545;
}

.navigation > li.active a {
    background: #fff;
    color: #000;
}
.navigation > li.active li a {
    background: #000;
    color: #fff;
}

/* overview */
.overview-table img {
    width: 40px;
    height: 40px;
}

/* feedback boxes */
.feedback {
    padding: 30px;
    margin-bottom: 10px;
}
.feedback.success {
    color: #558f2d;
    background-color: #ddf2c0;
}
.feedback.error {
    color: #ff7272;
    background-color: #ffe5e5;
}
.feedback.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.header_right_box {
    float: right;
}

/* login screen */
.login-page-box {
    display: table;
    width: 100%;
}
.login-page-box .table-wrapper {
    display: table-row;
}

.login-box {
    display: table-cell;
    margin-left: 25%;
    color: #777;
    background-color: #fff;
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    text-transform: uppercase;
}
.login-box h2 {
    color: #252525;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    font-family: Arial, sans-serif;
    color: #252525;
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    /*text-transform: uppercase;*/
}
.login-box input[type="submit"] {
    color:  white;
    background-color: rgb(135,222,48);
    border: 2px solid gray;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    text-transform: uppercase;
}
.login-box input[type="submit"]:hover {
    color: #fff;
    border-color: #252525;
    background-color: #252525;
}
.login-box .remember-me-label {
    display: block;
    margin-bottom: 10px;
}
.login-box .link-forgot-my-password {
    display: block;
    text-align: right;
}
.login-box .link-forgot-my-password a {
    color: #777;
    text-decoration: none;
}
.login-box .link-forgot-my-password a:hover {
    text-decoration: underline;
}
.login-box ::-webkit-input-placeholder { color: #777; opacity: 0.5; }
.login-box ::-moz-placeholder { color: #777; opacity: 0.5; }
.login-box :-ms-input-placeholder { color: #777; opacity: 0.5; }
.login-box input:-moz-placeholder { color: #777; opacity: 0.5; }

.register-box {
    display: table-cell;
    color: #fff;
    background-color: #252525;
    padding: 20px 50px 45px 50px;
    width: 49%;
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}
.register-box h2 {
    color: #fff;
}
.register-box a {
    width: 100%;
    display: block;
    box-sizing: border-box; /* modern way to say width:100% without padding */
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.register-box a:hover {
    background-color: #ffffff;
    color: #252525;
}

/* error page */
.red-text {
    color: red;
}

/*footer*/

.footer{
    background: repeating-linear-gradient(
    45deg,
    rgb(135,222,48),
    rgb(135,222,48) 10px,
    #fff 10px,
    #fff 20px
    );
    height: 50px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.footertext{
    text-decoration: none;
    color: #000;
    font-size: 85%;
    float: left;
    margin: 16px 20px 0 43%;
}

.copyright{
    text-decoration: none;
    color: #000;
    font-size: 85%;
    margin: 0;
    padding-top: 16px;
}


/*create account box, not same as register box*/
.create-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: table-cell;
    color: white;
    background-color: black;
    padding: 20px 50px 45px 50px;
    width: 50%;
    box-sizing: border-box;
    font-weight: 400;
}
.create-box h2 {
    color: white;
}
.create-box input[type="text"],
.create-box input[type="password"] {
    font-family: Arial, sans-serif;
    color: #252525;
    background-color: #ffffff;
    padding: 15px 15px;
    margin-bottom: 20px;
    display: block;
    width: 358px;
    /*border: 2px solid rgb(135,222,48);*/
    
}

.names{
    width: 391px;    
}

.security{
    float: right;
    /*border: 2px solid green;*/
    width: 391px;
    margin-top: -207px;
}

.left{

}

.right{

}

.create-box input[type="submit"] {
    font-size: 30px;
    position: absolute;
    top: 50%;
    color: white;
    background-color: rgb(135,222,48);
    padding: 30px 25px;
    margin-top: 4.5%;
    margin-left: 49%;
    display: block;
    width: 41%;
    border-color: black;
    border-radius: 20px;
}
.create-box input[type="submit"]:hover {
    color: white;
    border: 2px solid white;
    background-color: rgb(102, 176, 28);
}

.create-box a{
    color: yellow;
}

.captcha{
    width: 391px;
    height: 100px;
    margin-bottom: 5px;
}

.captcha-img{
   width: 100%;
   height: 100%;
}

.create-box ::-webkit-input-placeholder { color: #777; opacity: 0.5; }
.create-box ::-moz-placeholder { color: #777; opacity: 0.5; }
.create-box :-ms-input-placeholder { color: #777; opacity: 0.5; }
.create-box input:-moz-placeholder { color: #777; opacity: 0.5; }

.register-logo{
    width: 25%;
    background-color: #fff;
    margin-top: 90px;
    padding:0;
    border-left: 2px black solid;
    border-top: 2px black solid;
    border-right: 2px black solid;
    box-shadow: 4px 0px 5px gray;
    margin-left: 10%;
}

.register-logo img {
    padding: 2% 2% 2% 2%;
    width: 96%;
}

.chat-window{
    position: fixed;
    left: 0;
    bottom: 60px;
    width: 300px;
    height: 700px;
    background-color: pink;
}